flow/node-red-bme280-flow.txt
[{"id":"87990f16.0d661","type":"mqtt-broker","z":"a5e076ce.61de28","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"198baa27.f3e3a2","type":"mqtt in","z":"a5e076ce.61de28","name":"","topic":"sensor/esp10","broker":"87990f16.0d661","x":196,"y":142.22999572753906,"wires":[["47be6d31.dede3c"]]},{"id":"47be6d31.dede3c","type":"json","z":"a5e076ce.61de28","name":"","x":384,"y":169,"wires":[["b63c209a.8d05f"]]},{"id":"b63c209a.8d05f","type":"function","z":"a5e076ce.61de28","name":"add date","func":"var getCurrentTime = function () {\n    var date = new Date();\n    date.setHours(date.getHours() + 9);\n    var d = date.getFullYear() + '-';\n    d += ('0' + (date.getMonth() + 1)).slice(-2) + '-';\n    d += ('0' + date.getDate()).slice(-2) + 'T';\n    d += ('0' + date.getHours()).slice(-2) + ':';\n    d += ('0' + date.getMinutes()).slice(-2) + ':';\n    d += ('0' + date.getSeconds()).slice(-2) + 'Z';\n    return d;\n};\n\n\nmsg.payload.timestamp = getCurrentTime();\n\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":182,"wires":[["274e31b7.b36456"]]},{"id":"274e31b7.b36456","type":"debug","z":"a5e076ce.61de28","name":"","active":true,"console":"false","complete":"false","x":769,"y":195.9099884033203,"wires":[]}]